			p{
				color:#980808;
			}
			
			*{
				box-sizing: border-box;
			}
			
			.button{
				position: absolute;
				top:50%;
				background-color:#980808;
				color:#fff;
				border: none;
				border-radius:10px;
				padding:10px;
				min-height:30px;
				min-width: 120px;
			}
				
			
			body{
			
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 50px auto;
			background-image: url("https://www.colorwallpapers.com/uploads/wallpaper/solid-black-backgrounds/width-853/nlGBc983UmND-high-solid-black-beautiful-wallpaper-hd.jpg");
			}
			
			.text-center {
			text-align: center;
			}
			
			header {
			display: flex;
			justify-content: center;
			color: #980808;
			font-size: 35vw;
			width: 100%;
			height: 50px;
			}